.addBtn {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  width: 95px;
  height: 29px;
  color: var(--main-white);
  background: var(--main-blue);
  border: 0.5px solid var(--main-blue);
  border-radius: 4px;
}
