.cardInfoResult {
  overflow: auto;
  padding: 0;

  & [class$="ant-result-icon"] {
    margin-bottom: 10px;
    .carImage {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 243.5px;
        height: 110px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }

  & [class$="ant-result-title"] {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 24.5px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.6125px;
    color: var(--main-blue-light);
    margin-bottom: 4.5px;
  }

  & [class$="ant-result-subtitle"] {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 12.5px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.3125px;
    color: #818ea3;
  }

  & [class$="ant-result-extra"] {
    margin: 11px 0px 0px 0px;
  }
}

.cardInfoTitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.408571px;
  color: #868e96;
}

.cardInfoProgress {
  display: flex;
  flex-direction: column;

  & [class$="ant-progress-text"] {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  & [class$="ant-progress-outer"] {
    order: 2;
    margin: 0;
    padding: 0;
    height: 15px;
  }

  & [class$="ant-progress-inner"] {
    background: var(--main-white);
    box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  & [class$="ant-progress-bg"] {
    height: 5px !important;
  }

  .progressTitle {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.408571px;
    color: #868e96;
  }

  .progressValue {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.345714px;
    color: #5a6169;
  }
}

.cardInfoSpace {
  overflow: auto;
  width: 100%;
}

.cardInfoDescription {
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13.5px;
  letter-spacing: -0.408571px;
  color: #5a6169;
  min-height: 108px !important;
  resize: none;
}

.cardSettingsHeader {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17.5px;
  line-height: 21px;
  letter-spacing: -0.4375px;
  color: var(--main-blue-light);
}

.checkboxGroup,
.radioGroup {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.radioGroup {
  gap: 8px;
}

.checkboxGroup,
.checkbox,
.radioGroup {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;

  span {
    &:last-child {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 10px;
      line-height: 13px;
      display: flex;
      align-items: center;
      letter-spacing: -0.175439px;
      color: #495057;
    }
  }

  & [class~="ant-checkbox-checked"] {
    background: var(--main-blue);
    border-radius: 2px;
  }

  & [class~="ant-checkbox-inner"] {
    width: 13px;
    height: 13px;

    &::after {
      border: 1px solid var(--main-white);
      border-top: 0;
      border-left: 0;
      width: 3px;
      height: 6.5px;
      top: 4px;
      left: 3px;
      transform: rotate(50deg) scale(1) translate(-50%, -50%);
    }
  }
}

.input {
  height: 30px;
  background: var(--main-white);
  border: 1px solid #becad6;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.175439px;
  color: var(--main-black);
}

.inputNumber {
  width: 100%;
  height: 29px;
  border: 1px solid #becad6;
  border-radius: 4px;
}

.select {
  & [class~="ant-select-selector"] {
    border: 1px solid #becad6 !important;
    border-radius: 4px !important;
    height: 30px !important;
  }
  & [class~="ant-select-selection-item"] {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.175439px;
    color: var(--main-black);
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  & [class~="ant-form-item-control-input"] {
    min-height: 29px;
  }

  label {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.18421px;
    color: var(--main-black);
  }

  [class~="ant-radio-inner"] {
    width: 14px;
    height: 14px;
  }

  [class~="ant-picker"] {
    width: 100%;
    height: 30px;
    border: 1px solid #becad6;
    border-radius: 4px;
  }
}

.saveBtn,
.createBtn {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  width: 110px;
  height: 29px;
  color: var(--main-white);
  background: var(--main-blue);
  border: 0.5px solid var(--main-blue);
  border-radius: 4px;
}

.cancelBtn {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  width: 110px;
  height: 29px;
  color: var(--main-blue-light);
  background: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.deleteBtn {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  width: 110px;
  height: 29px;
  color: var(--main-white);
  background: #cb3656;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--main-white);
    border-color: transparent;
    background: #e24d6e;
  }
}

.groupBtnRight {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 575px) {
  .saveBtn,
  .createBtn,
  .cancelBtn,
  .deleteBtn {
    width: 80px;
  }
}

.messageSuccess {
  padding: 0 27.5px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  height: 42px;

  & [class~="ant-message-notice-content"] {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    padding: 0;
    box-shadow: none;
  }

  & [class~="ant-message-custom-content"] {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 7px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.325px;
    color: var(--main-white);

    & > span {
      width: 100%;
    }
  }
}

.messageIcon {
  width: 17px;
  height: 17px;
}

.closeIcon {
  width: 10px;
  height: 10px;

  &:hover {
    cursor: pointer;
  }
}

.messageIcon,
.closeIcon {
  & svg {
    fill: var(--main-white);
  }
}
